// MailChimp

.mc4wp-form {
  form {
    @extend .form-inline;
  }
}

// Google Forms Email Subscription

.ss-form-container,
.ss-form {
  font-family: $font-family-base;

  ol, ul {
    padding-left: 0;
  }

  .ss-form-question,
  .ss-item {
    padding: 5px 0;

    .ss-q-help.ss-secondary-text {
      color: gray;
      font-weight: $normal;
      font-style: italic;
    }

    .ss-form-entry>textarea,
    .ss-form-entry>input {
      background-color: $white;
      font-family: $font-family-base;
      padding: 4px;
      width: 100%;
    }

    .ss-choice-label {
      font-weight: $normal;
      padding-left: 5px;
    }

    .ss-form-entry>input.jfk-button {
      @extend .btn-primary;
    }
  }
}