.icon-activity_needs_assessment:before {
  content: "\e600";
}
.icon-activity_policy:before {
  content: "\e601";
}
.icon-activity_financing:before {
  content: "\e602";
}
.icon-activity_information_management:before {
  content: "\e603";
}
.icon-activity_information_technology:before {
  content: "\e604";
}
.icon-activity_analysis:before {
  content: "\e605";
}
.icon-activity_fund:before {
  content: "\e606";
}
.icon-activity_training:before {
  content: "\e607";
}
.icon-activity_leadership:before {
  content: "\e608";
}
.icon-activity_partnership:before {
  content: "\e609";
}
.icon-activity_deployment:before {
  content: "\e60a";
}
.icon-activity_humanitarian_programme_cycle:before {
  content: "\e60b";
}
.icon-activity_services_and_tools:before {
  content: "\e60c";
}
.icon-activity_scale_operation:before {
  content: "\e60d";
}
.icon-activity_staff_management:before {
  content: "\e60e";
}
.icon-activity_innovation:before {
  content: "\e60f";
}
.icon-activity_response:before {
  content: "\e610";
}
.icon-activity_meeting:before {
  content: "\e611";
}
.icon-activity_assessment:before {
  content: "\e612";
}
.icon-activity_public_information:before {
  content: "\e613";
}
.icon-activity_civil-military_coordination:before {
  content: "\e614";
}
.icon-activity_gap_analysis:before {
  content: "\e615";
}
.icon-activity_preparedness:before {
  content: "\e616";
}
.icon-activity_learning:before {
  content: "\e617";
}
.icon-activity_advocacy:before {
  content: "\e618";
}
.icon-activity_coordinated_assessment:before {
  content: "\e619";
}
.icon-activity_reporting:before {
  content: "\e61a";
}
.icon-camp_IDP_refugee_camp:before {
  content: "\e61b";
}
.icon-camp_temporary_camp:before {
  content: "\e61c";
}
.icon-camp_permanent_camp:before {
  content: "\e61d";
}
.icon-camp_transition_site:before {
  content: "\e61e";
}
.icon-camp_spontaneous_site:before {
  content: "\e61f";
}
.icon-camp_registration:before {
  content: "\e620";
}
.icon-cluster_CCCM:before {
  content: "\e621";
}
.icon-cluster_early_recovery:before {
  content: "\e622";
}
.icon-cluster_education:before {
  content: "\e623";
}
.icon-cluster_emergency_telecommunications:before {
  content: "\e624";
}
.icon-cluster_health:before {
  content: "\e625";
}
.icon-cluster_food_security:before {
  content: "\e626";
}
.icon-cluster_protection:before {
  content: "\e627";
}
.icon-cluster_WASH:before {
  content: "\e628";
}
.icon-cluster_shelter:before {
  content: "\e629";
}
.icon-cluster_logistics:before {
  content: "\e62a";
}
.icon-cluster_nutrition:before {
  content: "\e62b";
}
.icon-crisis_humanitarian_access:before {
  content: "\e62c";
}
.icon-crisis_population_displacement:before {
  content: "\e62d";
}
.icon-crisis_population_return:before {
  content: "\e62e";
}
.icon-crisis_conflict:before {
  content: "\e62f";
}
.icon-damage_affected:before {
  content: "\e630";
}
.icon-damage_destroyed:before {
  content: "\e631";
}
.icon-damage_not_affected:before {
  content: "\e632";
}
.icon-damage_airport_affected:before {
  content: "\e633";
}
.icon-damage_airport_destroyed:before {
  content: "\e634";
}
.icon-damage_airport_not_affected:before {
  content: "\e635";
}
.icon-damage_bridge_affected:before {
  content: "\e636";
}
.icon-damage_bridge_destroyed:before {
  content: "\e637";
}
.icon-damage_bridge_not_affected:before {
  content: "\e638";
}
.icon-damage_building_not_affected:before {
  content: "\e639";
}
.icon-damage_port_affected:before {
  content: "\e63a";
}
.icon-damage_port_destroyed:before {
  content: "\e63b";
}
.icon-damage_port_not_affected:before {
  content: "\e63c";
}
.icon-damage_building_affected:before {
  content: "\e63d";
}
.icon-damage_building_destroyed:before {
  content: "\e63e";
}
.icon-damage_house_affected:before {
  content: "\e63f";
}
.icon-damage_house_destroyed:before {
  content: "\e640";
}
.icon-damage_house_not_affected:before {
  content: "\e641";
}
.icon-damage_road_affected:before {
  content: "\e642";
}
.icon-damage_road_destroyed:before {
  content: "\e643";
}
.icon-damage_road_not_affected:before {
  content: "\e644";
}
.icon-damage_school_affected:before {
  content: "\e645";
}
.icon-damage_school_destroyed:before {
  content: "\e646";
}
.icon-damage_school_not_affected:before {
  content: "\e647";
}
.icon-disaster_cold_wave:before {
  content: "\e648";
}
.icon-disaster_heatwave:before {
  content: "\e649";
}
.icon-disaster_cyclone:before {
  content: "\e64a";
}
.icon-disaster_earthquake:before {
  content: "\e64b";
}
.icon-disaster_fire:before {
  content: "\e64c";
}
.icon-disaster_epidemic:before {
  content: "\e64d";
}
.icon-disaster_insect_infestation:before {
  content: "\e64e";
}
.icon-disaster_heavy_rain:before {
  content: "\e64f";
}
.icon-disaster_drought:before {
  content: "\e650";
}
.icon-disaster_flash_flood:before {
  content: "\e651";
}
.icon-disaster_flood:before {
  content: "\e652";
}
.icon-disaster_snow_avalanche:before {
  content: "\e653";
}
.icon-disaster_storm_surge:before {
  content: "\e654";
}
.icon-disaster_tsunami:before {
  content: "\e655";
}
.icon-disaster_landslide:before {
  content: "\e656";
}
.icon-disaster_technological:before {
  content: "\e657";
}
.icon-disaster_tornado:before {
  content: "\e658";
}
.icon-disaster_violent_wind:before {
  content: "\e659";
}
.icon-disaster_locust_infestation:before {
  content: "\e65a";
}
.icon-disaster_snowfall:before {
  content: "\e65b";
}
.icon-disaster_storm:before {
  content: "\e65c";
}
.icon-disaster_volcano:before {
  content: "\e65d";
}
.icon-food_NFI_mosquito_net:before {
  content: "\e65e";
}
.icon-food_NFI_blanket:before {
  content: "\e65f";
}
.icon-food_NFI_bottled_water:before {
  content: "\e660";
}
.icon-food_NFI_bucket:before {
  content: "\e661";
}
.icon-food_NFI_clothing:before {
  content: "\e662";
}
.icon-food_NFI_detergent:before {
  content: "\e663";
}
.icon-food_NFI_flour:before {
  content: "\e664";
}
.icon-food_NFI_food:before {
  content: "\e665";
}
.icon-food_NFI_infant_formula:before {
  content: "\e666";
}
.icon-food_NFI_kitchen_set:before {
  content: "\e667";
}
.icon-food_NFI_mattress:before {
  content: "\e668";
}
.icon-food_NFI_medicine:before {
  content: "\e669";
}
.icon-food_NFI_medical_supply:before {
  content: "\e66a";
}
.icon-food_NFI_non-food_items:before {
  content: "\e66b";
}
.icon-food_NFI_oil:before {
  content: "\e66c";
}
.icon-food_NFI_plastic_sheeting:before {
  content: "\e66d";
}
.icon-food_NFI_relief_goods:before {
  content: "\e66e";
}
.icon-food_NFI_rice:before {
  content: "\e66f";
}
.icon-food_NFI_salt:before {
  content: "\e670";
}
.icon-food_NFI_sugar:before {
  content: "\e671";
}
.icon-food_NFI_stove:before {
  content: "\e672";
}
.icon-food_NFI_soap:before {
  content: "\e673";
}
.icon-food_NFI_tarpaulin:before {
  content: "\e674";
}
.icon-food_NFI_vaccine:before {
  content: "\e675";
}
.icon-food_NFI_tent:before {
  content: "\e676";
}
.icon-infrastructure_infrastructure:before {
  content: "\e677";
}
.icon-infrastructure_government_office:before {
  content: "\e678";
}
.icon-infrastructure_diplomatic_mission:before {
  content: "\e679";
}
.icon-infrastructure_assembly_point:before {
  content: "\e67a";
}
.icon-infrastructure_hotel:before {
  content: "\e67b";
}
.icon-infrastructure_house:before {
  content: "\e67c";
}
.icon-infrastructure_police_station:before {
  content: "\e67d";
}
.icon-infrastructure_church:before {
  content: "\e67e";
}
.icon-infrastructure_mosque:before {
  content: "\e67f";
}
.icon-infrastructure_hindu_temple:before {
  content: "\e680";
}
.icon-infrastructure_buddhist_temple:before {
  content: "\e681";
}
.icon-infrastructure_health_facility:before {
  content: "\e682";
}
.icon-infrastructure_hospital:before {
  content: "\e683";
}
.icon-infrastructure_mobile_clinic:before {
  content: "\e684";
}
.icon-infrastructure_health_post:before {
  content: "\e685";
}
.icon-infrastructure_school:before {
  content: "\e686";
}
.icon-infrastructure_clinic:before {
  content: "\e687";
}
.icon-infrastructure_food_warehouse:before {
  content: "\e688";
}
.icon-infrastructure_building:before {
  content: "\e689";
}
.icon-infrastructure_community_building:before {
  content: "\e68a";
}
.icon-infrastructure_distribution_site:before {
  content: "\e68b";
}
.icon-infrastructure_university:before {
  content: "\e68c";
}
.icon-infrastructure_UN_office:before {
  content: "\e68d";
}
.icon-infrastructure_NGO_office:before {
  content: "\e68e";
}
.icon-logistics_airport:before {
  content: "\e68f";
}
.icon-logistics_airport_military:before {
  content: "\e690";
}
.icon-logistics_boat:before {
  content: "\e691";
}
.icon-logistics_truck:before {
  content: "\e692";
}
.icon-logistics_bridge:before {
  content: "\e693";
}
.icon-logistics_car:before {
  content: "\e694";
}
.icon-logistics_gas_station:before {
  content: "\e695";
}
.icon-logistics_helicopter:before {
  content: "\e696";
}
.icon-logistics_helipad:before {
  content: "\e697";
}
.icon-logistics_road:before {
  content: "\e698";
}
.icon-logistics_port:before {
  content: "\e699";
}
.icon-logistics_train:before {
  content: "\e69a";
}
.icon-logistics_tunnel:before {
  content: "\e69b";
}
.icon-logistics_ferry:before {
  content: "\e69c";
}
.icon-logistics_ship:before {
  content: "\e69d";
}
.icon-logistics_bus:before {
  content: "\e69e";
}
.icon-other_cluster_coordination:before {
  content: "\e69f";
}
.icon-other_cluster_rule_of_law:before {
  content: "\e6a0";
}
.icon-other_cluster_environment:before {
  content: "\e6a1";
}
.icon-other_cluster_multicluster:before {
  content: "\e6a2";
}
.icon-other_cluster_agriculture:before {
  content: "\e6a3";
}
.icon-other_cluster_fishery:before {
  content: "\e6a4";
}
.icon-other_cluster_safety_security:before {
  content: "\e6a5";
}
.icon-other_cluster_other:before {
  content: "\e6a6";
}
.icon-people_affected_population:before {
  content: "\e6a7";
}
.icon-people_missing:before {
  content: "\e6a8";
}
.icon-people_dead:before {
  content: "\e6a9";
}
.icon-people_injured:before {
  content: "\e6aa";
}
.icon-people_woman:before {
  content: "\e6ab";
}
.icon-people_children:before {
  content: "\e6ac";
}
.icon-people_elderly:before {
  content: "\e6ad";
}
.icon-people_pregnant:before {
  content: "\e6ae";
}
.icon-people_physical_impairments:before {
  content: "\e6af";
}
.icon-people_man:before {
  content: "\e6b0";
}
.icon-people_child_combatant:before {
  content: "\e6b1";
}
.icon-people_infant:before {
  content: "\e6b2";
}
.icon-people_national_army:before {
  content: "\e6b3";
}
.icon-people_peacekeeping_force:before {
  content: "\e6b4";
}
.icon-people_rebel:before {
  content: "\e6b5";
}
.icon-people_drowned:before {
  content: "\e6b6";
}
.icon-physical_barrier_physical_closure:before {
  content: "\e6b7";
}
.icon-physical_barrier_checkpoint:before {
  content: "\e6b8";
}
.icon-physical_barrier_mililtary_gate:before {
  content: "\e6b9";
}
.icon-physical_barrier_observation_tower:before {
  content: "\e6ba";
}
.icon-physical_barrier_roadblock:before {
  content: "\e6bb";
}
.icon-physical_barrier_border_crossing:before {
  content: "\e6bc";
}
.icon-physical_barrier_earthmound:before {
  content: "\e6bd";
}
.icon-physical_barrier_road_barrier:before {
  content: "\e6be";
}
.icon-product_type_calendar:before {
  content: "\e6bf";
}
.icon-product_type_chart:before {
  content: "\e6c0";
}
.icon-product_type_data:before {
  content: "\e6c1";
}
.icon-product_type_document:before {
  content: "\e6c2";
}
.icon-product_type_film:before {
  content: "\e6c3";
}
.icon-product_type_map:before {
  content: "\e6c4";
}
.icon-product_type_photo:before {
  content: "\e6c5";
}
.icon-product_type_report:before {
  content: "\e6c6";
}
.icon-product_type_table:before {
  content: "\e6c7";
}
.icon-security_arrest:before {
  content: "\e6c8";
}
.icon-security_assault:before {
  content: "\e6c9";
}
.icon-security_carjacking:before {
  content: "\e6ca";
}
.icon-security_dangerous_area:before {
  content: "\e6cb";
}
.icon-security_forced_entry:before {
  content: "\e6cc";
}
.icon-security_mine:before {
  content: "\e6cd";
}
.icon-security_attack:before {
  content: "\e6ce";
}
.icon-security_harrassment:before {
  content: "\e6cf";
}
.icon-security_murder:before {
  content: "\e6d0";
}
.icon-security_house_burned:before {
  content: "\e6d1";
}
.icon-security_forced_recruitment:before {
  content: "\e6d2";
}
.icon-security_abduction:before {
  content: "\e6d3";
}
.icon-security_robbery:before {
  content: "\e6d4";
}
.icon-socioeconomic_population_growth:before {
  content: "\e6d5";
}
.icon-socioeconomic_livestock:before {
  content: "\e6d6";
}
.icon-socioeconomic_livelihood:before {
  content: "\e6d7";
}
.icon-socioeconomic_debris_management:before {
  content: "\e6d8";
}
.icon-socioeconomic_trade_and_market:before {
  content: "\e6d9";
}
.icon-socioeconomic_reconstruction:before {
  content: "\e6da";
}
.icon-socioeconomic_urban:before {
  content: "\e6db";
}
.icon-socioeconomic_urban_rural:before {
  content: "\e6dc";
}
.icon-socioeconomic_rural_exodus:before {
  content: "\e6dd";
}
.icon-socioeconomic_rural:before {
  content: "\e6de";
}
.icon-telecommunications_computer:before {
  content: "\e6df";
}
.icon-telecommunications_radio:before {
  content: "\e6e0";
}
.icon-telecommunications_walkie_talkie:before {
  content: "\e6e1";
}
.icon-telecommunications_e-mail:before {
  content: "\e6e2";
}
.icon-telecommunications_fax:before {
  content: "\e6e3";
}
.icon-telecommunications_internet:before {
  content: "\e6e4";
}
.icon-telecommunications_mobile_phone:before {
  content: "\e6e5";
}
.icon-wash_latrine_cabin:before {
  content: "\e6e6";
}
.icon-wash_toilet:before {
  content: "\e6e7";
}
.icon-wash_shower:before {
  content: "\e6e8";
}
.icon-wash_sanitation:before {
  content: "\e6e9";
}
.icon-wash_solid_waste:before {
  content: "\e6ea";
}
.icon-wash_spring_water:before {
  content: "\e6eb";
}
.icon-wash_submersible_pump:before {
  content: "\e6ec";
}
.icon-wash_water_trucking:before {
  content: "\e6ed";
}
.icon-wash_communal_latrine:before {
  content: "\e6ee";
}
.icon-wash_water_source:before {
  content: "\e6ef";
}
.icon-wash_potable_water_source:before {
  content: "\e6f0";
}
.icon-wash_borehole:before {
  content: "\e6f1";
}
.icon-wash_well:before {
  content: "\e6f2";
}
.icon-wash_potable_water:before {
  content: "\e6f3";
}