// Wordpress Admin Bar

body.admin-bar {
  .navbar-fixed-top {
    top: 0 !important;
  }
}

// Sticky footer styles

html,
body {
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  color: $charcoal;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
//  background-color: $snow;
}

.sponsors {
  background-color: $white;
  border: 1px solid $smoke;
  padding: 3rem 0;
  text-align: center;

  h3 {
    text-align: center;
    padding: 0 0 3rem;
    border-bottom: 1px solid $smoke;
    margin-bottom: 4rem;
  }

  img {
    max-height: 60px;
    margin: 15px 0;
    padding: 0 10px;
  }
}

.comments {
  margin-top: 2rem;
  border-top: 1px dotted $base;
  h2,
  .comment-reply-title {
    @extend h4;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $jet;
}

.navbar-default {
  margin: 0;
  text-transform: uppercase;

  .navbar-nav>li>a {
    color: $white;
    font-family: $font-family-headings;
    letter-spacing: 1px;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover,
  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:active {
    background: transparent;
    color: $brand-secondary;
  }

  .navbar-nav>.open>a,
  .navbar-nav>.open>a:focus,
  .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: $brand-secondary;
  }

  .navbar-right {
    margin-top: 3.5rem;
  }

}

a {
  font-weight: $bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  text-transform: uppercase;
}