// Glyphicons font path
$icon-font-path:        "../fonts/";

// Clear Sans Font
@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/ClearSans-Bold-webfont.eot');
    src: url('../fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'clear_sansregular';
  src: url('../fonts/ClearSans-Regular-webfont.eot');
  src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('../fonts/ClearSans-Thin-webfont.eot');
  src: url('../fonts/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Thin-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Thin-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// OCHA Humanitarian Icons

@font-face {
  font-family: 'humanitarian_icons';
  src:url('../fonts/humanitarian_icons.eot');
  src:url('../fonts/humanitarian_icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/humanitarian_icons.ttf') format('truetype'),
    url('../fonts/humanitarian_icons.woff') format('woff'),
    url('../fonts/humanitarian_icons.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'humanitarian_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00aeef;
$brand-secondary:       #ffc00c;
$brand-gray:            #eaeaea;
$white:                 #ffffff;
$ghost:                 #fafafa;
$snow:                  #f9f9f9;
$vapor:                 #f6f6f6;
$white-smoke:           #f5f5f5;
$silver:                #efefef;
$smoke-alt:             #e7e7e7;
$smoke:                 #eeeeee;
$gainsboro:             #dddddd;
$iron:                  #cccccc;
$base:                  #aaaaaa;
$aluminum:              #999999;
$jumbo:                 #888888;
$monsoon:               #777777;
$steel:                 #666666;
$charcoal:              #555555;
$tuatara:               #444444;
$oil:                   #333333;
$jet:                   #222222;
$jetblack:              #111111;
$black:                 #000000;

// Font Weights
$bold:                  700;
$normal:                400;
$thin:                  300;

$font-family-thin: "clear_sans_thinregular", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-regular: "clear_sansregular", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings:  "clear_sansbold", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-base:      $font-family-regular;

$body-bg:               $white !default;

// Font Size
$font-size-base:        16px;

// Border Radii
$border-radius-base:        4px !default;
$border-radius-large:       4px !default;
$border-radius-small:       4px !default;
