// Footer

.social {
  color: $white;
  background: $jetblack;
  padding: 4rem;

  h3 {
    @extend h5;
  }

  .mc4wp-form {
    label {
      @extend h5;
      font-size: 18px;
      letter-spacing: 1px;
    }

    .form-control {
      border: 1px solid $white;
    }

    button.btn.btn-clear {
      background-color: transparent;
      border-color: white;
    }
  }
}

footer.content-info {
  color: $white;
  background-color: $oil;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 6px;

  a {
    color: $white;
  }

  .footer-social {
    margin-top: 2rem;

    h3 {
      text-align: right;
    }

    section.widget.sfsi-plus-widget-3.sfsi_plus {
      margin-top: 1.5rem;
    }
  }
}