nav.banner {
  background-color: $black;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


// .menu-item-has-children {
//   @extend .dropdown;
// }

.brand img {
  max-height: 12rem;
  padding: 1rem 0;
}

.home {
  .lead {
    text-align: center;
  }
}

#hero {
  background: $oil no-repeat;
  background-size: cover;
  max-height: 42vh;
  margin-bottom: 5rem;
  color: $white;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 8rem;
  overflow: hidden;

  .hero-text {
    top: 2rem;
    position: absolute;

    .hero-head {
      margin-top: 12vh;
      font-size: 3em;
    }

    .hero-date {
      font-family: $font-family-regular;
      color: $brand-primary;
      font-size: 24px;
      margin: 0 0 5px;
    }

    .lead {
      font-size: 21   px;
      font-family: $font-family-thin;
    }

    .btn-primary {
      margin-bottom: 20px;
    }
  }
}

#hero-sub {
  @extend #hero;
  background: darken($brand-secondary, 0%) url('../images/hero_bg.png') no-repeat;
  height: 16vh;
  padding: 4rem 0;
}

.navbar-toggle .icon-bar {
  color: $brand-secondary;
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

@media (max-width: $screen-sm-max) {
  .brand img {
    padding: 1rem 2rem;
    max-height: 7rem;
  }

  #hero {
    margin-top: 7rem;

    .hero-head {
      margin-top: 4vh;
      font-size: 24px;
    }

    .hero-date {
      font-size: 18px;
    }

    p.lead {
      font-size: 14px;
    }
  }

  #hero-sub {
    padding: 1.25rem 0;
  }
}
