.home {
  .wrap {
    margin-top: 0;
  }
}

.panelists {
  margin: 4rem 0;
  padding: 3rem 0;
  text-align: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: $smoke;
  
  .row {
    margin-bottom: 2rem;
  }
  
  .keynote {
    background-color: $white;
    min-height: 20rem;
    padding: 20px 15px;
    letter-spacing: 1px;
  }
  
  .panelist {
    background-color: $white;
    min-height: 28rem;
    padding: 20px 15px;
    letter-spacing: 1px;
  }
  
  h3 {
    margin: 3rem 0 3rem;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  p.panelist-title {
    color: $brand-primary;
  }
}

@media (max-width: $screen-sm-max) {
  .panelists {
    
    .row {
      margin-bottom: 0;
    }
    
    .panelist {
      min-height: 32rem;
    }
    
    h4 {
      font-size: 14px;
    }
    
    p {
      margin: 0 0 22.5px;
      font-size: 13px;
    }
  }
}